* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    height: 16px;
    width: 8px;
    background: rgba(114, 114, 114, 0.541);
}

::-webkit-scrollbar-thumb {
    background: rgb(42, 59, 63);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px rgba(7, 7, 7, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

nav {
    width: 60%;
    font-size: 18px;
}

nav > ul {
    color: white;
    display: flex;
    text-align: center;
    height: var(--hauteur-menu);
}

ul{
    list-style: none;
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
li a {
    text-decoration: none;
    color: black;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: rgb(160, 160, 160);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
  
.sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: rgb(93,153,166);
}
  
.sous-menu > li:hover {
    background-color: rgb(93,153,166);
}
  
.sous-menu > li:hover > a {
    color: white;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

@keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid rgb(93,153,166);
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid rgb(93,153,166);
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

html {
    height: 100%;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    position: fixed;
    display: flex;
}

.ecran {
    display: flex;
    flex-direction:row;
    height: 100%;
}

h2{
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
}

.left {
    width: 100%;
    background-color: rgba(160, 160, 160, 0.281);
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.right{
    width: 100%;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 4px;
}

.retour{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    cursor: pointer; 
    position: absolute;
    margin-left: 45%;
    margin-top: 5px;
}

.photo {
    margin: 5% 15px 10px 14px;
    height: 90%;
    width: 95%;
    background-color: rgba(131, 129, 129, 0.479);
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    align-content: flex-start;
}

.chef {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    justify-content: center;
}

.employe{
    justify-content: center;
}
.inner {
    width: 100%;
    justify-content: center;
    margin: 1%;
}

.menu {
    background-color: rgba(0, 0, 0, 0.747);
    line-height: 3vw;
    display: flex;
    width: 100%;
}

.m-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.m-left .a {
    display: flex;
    justify-content: space-between;
}

.m-right {
    float: right;
}

.m-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0 10px;
    transition: all 0.1s ease-in-out;
    border-bottom: 2px solid transparent;
}

.m-link:hover {
    padding-bottom: 1px;
    border-color: thistle;
}


.recherche {
    /* position: absolute; */
    margin-left: 5%;
    margin-top: 2%;
    width: 80%;
}

.recherche .barre{
    width: 40%;
}
